<% errors = model.errors %>
<% if errors.any? %>
  <div class="alert alert-danger d-flex justify-content-between align-items-center">
    <div>
      <div class="lead buffer-bottom">
        В вашей форме <%= t('plural.error', count: errors.count) %>:
      </div>

      <ul>
        <% errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn-close btn-outline-secondary" data-bs-dismiss="alert" aria-label="Закрыть"></button>
  </div>
<% end %>
