<h1><%= t('events.event.edit') %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>
  </div>
  <div class="actions buffer-both">
    <%= button_tag t('button.destroy_event'),
                   class: "btn btn-outline-danger",
                   data: { bs_toggle: "modal", bs_target: "#event-#{@event.id}"} %>
    <%= render partial: 'partials/destroy_confirm',
               locals: {
                 title: t('events.event.destroy_confirm'),
                 path: event_path(@event),
                 id: "event-#{@event.id}"
               } %>
  </div>
</div>
