<h1><%= t('events.event.edit') %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>
  </div>
  <div class="actions buffer-both">
    <%= button_to t('button.destroy_event'),
                  event_path(@event),
                  data: {
                    confirm: t('events.event.destroy_confirm'),
                    turbo_confirm: t('events.event.destroy_confirm')
                  },
                  method: :delete,
                  class: 'btn btn-outline-danger' %>
  </div>
</div>
