<div class="img-wrap">
  <% if current_user_can_edit?(photo) %>
    <span class="close-icon-my">
      <%= button_tag '',
                     class: "btn-close btn-outline-secondary",
                     data: { bs_toggle: "modal", bs_target: "#photo-#{photo.id}"} %>
    </span>
    <%= render partial: 'partials/destroy_confirm',
               locals: {
                 title: t('.destroy_confirm'),
                 path: event_photo_path(photo.event, photo),
                 id: "photo-#{photo.id}"
               } %>
  <% end %>

  <div class="image-container pswp-gallery__item">
    <%= link_to image_tag(photo.photo.variant(:thumb), class: "figure-img img-fluid rounded"),
                photo.photo,
                data: {
                  pswp_width: photo.photo.metadata["width"],
                  pswp_height: photo.photo.metadata["height"],
                  cropped: "true"
                } %>
    <div class="hidden-caption-content">
      <%= link_to photo.user.name, photo.user %>
    </div>
  </div>
</div>
